doctype html
html(ng-app="alt")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(charset="utf-8")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")
    meta(name="apple-mobile-web-app-title" content="ALT")
    title alt. [ a lovely thing ]
    //- general
    link(rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    //- plugin
    link(rel='stylesheet' href='/views/css/plugins/jquery.fancybox.css')
   

    body
      section#main
        div(ng-view)
      include scripts