script(src="/vendor/jquery/dist/jquery.min.js")
script(src="/vendor/angular/angular.min.js")
script(src="/vendor/angular-resource/angular-resource.js")
script(src="/vendor/angular-route/angular-route.js")

script(src="/vendor/lodash/dist/lodash.js")
script(src="/vendor/restangular/dist/restangular.js")

script(src="/vendor/angularfire/dist/angularfire.js")
script(src="/vendor/firebase/firebase.js")

script(src="/assets/js/jquery.fancybox.js") 

script(src="/app/app.js")
script(src="/app/directive.js")
script(src="/app/factory.js")



//- Brand
script(src="/app/brand/ctrl.js")


