.col-xs-9
  #traces(ng-controller="brandInspirationCtrl")
    ul
      li.col-xs-4(ng-repeat="inspiration in brandInspirations")
        a.fancybox(href="/assets/brands/{{inspiration.image}}" rel="gallery" title="{{inspiration.text}}" fancybox)
          img.img-responsive(ng-src="/assets/brands/{{inspiration.image}}")